<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Conversion Success</title>
</head>
<body>
    <h1>ONNX Model Conversion Success</h1>
    <p>Your ONNX model has been successfully converted.</p>
    
    {% if conversion_success %}
    <form action="{{ url_for('download_onnx', onnx_file=onnx_file) }}" method="GET">
        <button type="submit">Download ONNX File</button>
    </form>
    <p>Upload an image to perform inference:</p>
    <form action="{{ url_for('perform_inference') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="onnx_file" value="{{ onnx_file }}">
        <input type="file" name="image" accept="image/*" required>
        <br></br>
        <button type="submit">Upload Image for Inference</button>
    </form>
    
    {% else %}
        <p>Conversion failed or not yet completed.</p>
    {% endif %}
</body>
</html>
